name: Sync LeetCode Submissions

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: joshcai/leetcode-sync@v1.5
        with:
          username: ${{ secrets.LEETCODE_USERNAME }}
          leetcode_session: ${{ secrets.LEETCODE_SESSION }}
          csrf_token: ${{ secrets.CSRF_TOKEN }}
